version: 2.1

executors:
  python:
    parameters:
      image_tag:
        type: string
    docker:
      - image: circleci/python:<< parameters.image_tag >>
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
commands:
  pkg_woodwork:
    steps:
      - run: |
          python setup.py sdist
          DT_VERSION=$(python setup.py --version)
          tar -zxvf "dist/woodwork-${DT_VERSION}.tar.gz"
          mv "woodwork-${DT_VERSION}" unpacked_sdist
  install_dependencies_dev:
    steps:
      - run: |
            virtualenv test_python -q
            source test_python/bin/activate
            make installdeps
            make installdeps-dev

jobs:
  install_dt:
    working_directory: ~/woodwork
    parameters:
      image_tag:
        type: string
      optional_libraries:
        type: string
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/woodwork
      - pkg_woodwork
      - run : |
          virtualenv venv
          source venv/bin/activate
          python -m pip config --site set global.progress_bar off
          python -m pip install --upgrade pip
      - when:
          condition:
            equal: [ "optional", << parameters.optional_libraries >> ]
          steps:
            - run: |
                source venv/bin/activate
                python -m pip install -e unpacked_sdist/[dask]
                python -m pip install -e unpacked_sdist/[koalas]
      - unless:
          condition:
            equal: ["optional", << parameters.optional_libraries >> ]
          steps:
            - run: |
                source venv/bin/activate
                python -m pip install -e unpacked_sdist/
      - persist_to_workspace:
          root: ~/woodwork
          paths:
            - venv
            - unpacked_sdist

  unit_tests:
    working_directory: ~/woodwork
    parameters:
      image_tag:
        type: string
      optional_libraries:
        type: string
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/woodwork
      - when:
          condition:
            and:
              - equal: [ "3.6", << parameters.image_tag >> ]
              - equal: ["optional", << parameters.optional_libraries >>]
          steps:
            - run: |
                source venv/bin/activate
                python -m pip install -r unpacked_sdist/test-requirements.txt
                sudo apt install -y openjdk-11-jre-headless
                JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
                python -m pip install "$(cat dev-requirements.txt | grep codecov)"
                coverage erase
                cd unpacked_sdist/
                coverage erase
                python -m pip check
                python -m pytest woodwork/ -n 2 --cov=woodwork --cov-config=../.coveragerc
                cd ../
                cp unpacked_sdist/.coverage .coverage
                codecov --required
      - unless:
          condition:
            and:
              - equal: [ "3.6", << parameters.image_tag >> ]
              - equal: ["optional", << parameters.optional_libraries >>]
          steps:
            - run: |
                source venv/bin/activate
                python -m pip install -r unpacked_sdist/test-requirements.txt
                sudo apt install -y openjdk-11-jre-headless
                JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
                cd unpacked_sdist
                python -m pip check
                python -m pytest woodwork/ -n 2

  pip_check:
    working_directory: ~/woodwork
    parameters:
      image_tag:
        type: string
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/woodwork
      - pkg_woodwork
      - run: |
          virtualenv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install -e unpacked_sdist/
          python -m pip check

  lint_test:
    working_directory: ~/woodwork
    parameters:
      image_tag:
        type: string
    executor:
      name: python
      image_tag: << parameters.image_tag >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/woodwork
      - run: |
          source venv/bin/activate
          python -m pip install -r unpacked_sdist/dev-requirements.txt
      - run: source venv/bin/activate && make lint

  build_docs:
    working_directory: ~/woodwork
    executor:
      name: python
      image_tag: "3.7"
    steps:
      - checkout
      - install_dependencies_dev
      - run: sudo apt update && sudo apt install -y pandoc && sudo apt install -y graphviz
      - run: |
          sudo apt install -y openjdk-11-jre-headless
          JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
      - run: |
          source test_python/bin/activate
          make -C docs/ html
      - run: ls docs/build/html

  release_notes_updated:
    working_directory: ~/woodwork
    docker:
      - image: busybox:latest
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run: cat docs/source/release_notes.rst | grep ":pr:\`${CIRCLE_PULL_REQUEST##https://github.com/FeatureLabs/woodwork/pull/}\`"

workflows:
  version: 2
  build_docs:
    jobs:
      - build_docs:
          name: "build docs"
          context: dockerhub
  test_all_python_versions:
    jobs:
      - install_dt:
          matrix:
            parameters:
              image_tag: ["3.8", "3.7", "3.6"]
              optional_libraries: ["minimal", "optional"]
          name: << matrix.image_tag >> install woodwork << matrix.optional_libraries >>
          context: dockerhub
      - unit_tests:
          matrix:
            parameters:
              image_tag: ["3.8", "3.7", "3.6"]
              optional_libraries: ["minimal", "optional"]
          name: << matrix.image_tag >> unit tests << matrix.optional_libraries >>
          requires:
            - << matrix.image_tag >> install woodwork << matrix.optional_libraries >>
          context: dockerhub
      - lint_test:
          matrix:
            parameters:
              image_tag: ["3.8", "3.7", "3.6"]
          name: << matrix.image_tag >> lint test
          requires:
            - << matrix.image_tag >> install woodwork optional
          context: dockerhub
      - pip_check:
          matrix:
            parameters:
              image_tag: ["3.8", "3.7", "3.6"]
          name: << matrix.image_tag >> pip check
          requires:
            - << matrix.image_tag >> install woodwork minimal
          context: dockerhub
      - release_notes_updated:
          name: "release notes updated"
          filters:
            branches:
              ignore:
                - /^main?/
                - /^v\d+\.\d+\.\d+$/
                - /^dep-update-[a-f0-9]{7}$/
          context: dockerhub
