on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

name: Build Docs
jobs:
  build_docs:
    name: 3.8 build docs
    runs-on: ubuntu-latest
    steps:
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Install woodwork with doc requirements
        run: |
          sudo apt update
          sudo apt install -y pandoc
          sudo apt install -y openjdk-11-jre-headless
          JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
          pip config --site set global.progress_bar off
          python -m pip install --upgrade pip
          python -m pip install -e .
          python -m pip install -r .[dev]
      - name: Build docs
        run: |
          make -C docs/ html
          ls docs/build/html
        env:
          ALTERYX_OPEN_SRC_UPDATE_CHECKER: False
