on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

name: Tests
jobs:
  build_docs:
    name: 3.7 build docs
    runs-on: ubuntu-latest
    steps:
      - name: Set up python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Install woodwork with doc requirements
        run: |
          sudo apt update
          sudo apt install -y pandoc
          sudo apt install -y openjdk-11-jre-headless
          JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
          pip config --site set global.progress_bar off
          python -m pip install --upgrade pip
          python -m pip install -e .
          python -m pip install -r dev-requirements.txt
      - name: Build docs
        run: |
          make -C docs/ html
          ls docs/build/html

  lint_test:
    name: ${{ matrix.python_version }} lint test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.6", "3.7", "3.8", "3.9"]
    steps:
      - name: Set up python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Install woodwork with dev, test, and optional requirements
        run: |
          pip config --site set global.progress_bar off
          python -m pip install --upgrade pip
          python -m pip install -e .[dask]
          python -m pip install -e .[koalas]
          python -m pip install -r dev-requirements.txt
          python -m pip install -r test-requirements.txt
      - name: Run lint test
        run: make lint

  unit_tests:
    name: ${{ matrix.python_version }} unit tests ${{ matrix.optional_libraries }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python_version: ["3.6", "3.7", "3.8", "3.9"]
        optional_libraries: ["minimal", "optional", "minimum_requirements"]
    steps:
      - name: Set up python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Build woodwork package
        run: make package_woodwork
      - name: Set up pip
        run: |
          pip config --site set global.progress_bar off
          python -m pip install --upgrade pip
      - if: ${{ matrix.optional_libraries != 'optional' }}
        name: Install woodwork with test requirements
        run: |
          python -m pip install -e unpacked_sdist/
          python -m pip install -r unpacked_sdist/test-requirements.txt
      - if: ${{ matrix.optional_libraries == 'optional' }}
        name: Install woodwork with test and optional requirements
        run: |
          sudo apt update
          sudo apt install -y openjdk-11-jre-headless
          JAVA_HOME="/usr/lib/jvm/java-11-openjdk-amd64"
          python -m pip install -e unpacked_sdist/[dask]
          python -m pip install -e unpacked_sdist/[koalas]
          python -m pip install -r unpacked_sdist/test-requirements.txt
      - if: ${{ matrix.optional_libraries == 'minimum_requirements' }}
        name: Install woodwork with tests and minimum requirements
        run: |
          python -m pip install -r test-requirements.txt
          python .github/minimum_dependency_generator.py 'requirements.txt' 'minimum_dependencies.txt'
          cat minimum_dependencies.txt
          python -m pip install -r minimum_dependencies.txt
      - if: ${{ matrix.python_version != 3.6 || matrix.optional_libraries != 'optional' }}
        name: Run unit tests (no code coverage)
        run: |
          cd unpacked_sdist
          pytest woodwork/ -n 2
      - if: ${{ matrix.python_version == 3.6 && matrix.optional_libraries == 'optional' }}
        name: Run unit tests with code coverage
        run: |
          python -m pip install "$(cat dev-requirements.txt | grep codecov)"
          coverage erase
          cd unpacked_sdist/
          coverage erase
          pytest woodwork/ -n 2 --cov=woodwork --cov-config=../.coveragerc
      - if: ${{ matrix.python_version == 3.6 && matrix.optional_libraries == 'optional' }}
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
